<!-- Generated template for the ProgressBarComponent component -->

<div  *ngIf="hotDownloadUrl"  class="progress-outer">
    <div class="progress-inner" [style.width]="progress + '%'">
        {{progress}}%
    </div>
</div>
<div  *ngIf="hotDownloadUrl"  class="progress-outer" style="width:20%" >
        <div class="progress-inner" [style.background-color]="!hotDownloadUrl?'#738ab4':'#488aff'">
       <a style="color: #fff;"  href="{{hotDownloadUrl}}"> <ion-icon ios="ios-cloud-download" md="md-cloud-download"></ion-icon></a>
</div>
</div>
