<!--
  Generated template for the ListSongPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-segment [(ngModel)]="segment" (ionChange)="getData()">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>
    </ion-segment>

    <ion-buttons end>
      <button ion-button icon-only (click)="presentFilter()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   (change)="getData()"
                   placeholder="Search">
    </ion-searchbar>
  </ion-toolbar>
  <progress-bar [progress]="processing" [hotDownloadUrl]="hotDownloadUrl"></progress-bar>
</ion-header>

<ion-content>
    <!-- <player-audio [currentTrack]="currentTrack"></player-audio> -->
    
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-list #scheduleList [hidden]="songs.length === 0">

    <!-- <ion-item-group *ngFor="let group of groups" [hidden]="group.hide">

      <ion-item-divider sticky>
        <ion-label>
          {{group.time}}
        </ion-label>
      </ion-item-divider>

      <ion-item-sliding *ngFor="let session of group.sessions" #slidingItem [attr.track]="session.tracks[0] | lowercase" [hidden]="session.hide">

        <button ion-item (click)="goToSessionDetail(session)">
          <h3>{{session.name}}</h3>
          <p>
            {{session.timeStart}} &mdash;
            {{session.timeEnd}}:
            {{session.location}}
          </p>
        </button>

        <ion-item-options>
          <button ion-button color="favorite" (click)="addFavorite(slidingItem, session)" *ngIf="segment === 'all'">
            Favorite
          </button>
          <button ion-button color="danger" (click)="removeFavorite(slidingItem, session, 'Remove Favorite')" *ngIf="segment === 'favorites'">
            Remove
          </button>
        </ion-item-options>

      </ion-item-sliding>

    </ion-item-group> -->
    <ion-item-sliding *ngFor="let song of songs" #slidingItem>
      <button ion-item  (click)="goToDetail(slidingItem)">
        <h3>{{song.Name}}</h3>
          <p>
              {{song.Description}}
          </p>
          <p>
              {{song.Time}}
          </p>
       </button>
       
       <ion-item-options>
          <!-- <button ion-button color="favorite" (click)="goToDetail(song)">
            <ion-icon ios="ios-eye" md="md-eye"></ion-icon>
            Detail
            </button> -->
          <button ion-button color="blue" class="col-sm-3 col-md-3" (click)="presentActionSheet(slidingItem, song, 'play')">
            <ion-icon ios="ios-play" md="md-play"></ion-icon>
            Play
            </button><button ion-button class="col-sm-3 col-md-3" color="danger" (click)="stopFile(slidingItem)">
              <ion-icon ios="ios-alert" md="md-alert"></ion-icon>
              Stop
              </button>
          <button ion-button color="favorite" (click)="presentActionSheet(slidingItem, song, 'download')">
            <ion-icon ios="ios-archive" md="md-archive"></ion-icon>
            Download
            </button>
            
          <!-- <button ion-button color="favorite" (click)="addFavorite(song, song)" *ngIf="segment === 'all'">
            Favorite
          </button>
          <button ion-button color="danger" (click)="removeFavorite(song, song, 'Remove Favorite')" *ngIf="segment === 'favorites'">
            Remove
          </button> -->
        </ion-item-options>
        
    </ion-item-sliding>
  </ion-list>

  <ion-list-header [hidden]="songs.length > 0">
      No songs Found
  </ion-list-header>

  <ion-fab bottom right #fab>
    <button ion-fab><ion-icon name="share"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab color="vimeo" (click)="openSocial('Vimeo', fab)"><ion-icon name="logo-vimeo"></ion-icon></button>
      <button ion-fab color="google" (click)="openSocial('Google+', fab)"><ion-icon name="logo-googleplus"></ion-icon></button>
      <button ion-fab color="twitter" (click)="openSocial('Twitter', fab)"><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab color="facebook" (click)="openSocial('Facebook', fab)"><ion-icon name="logo-facebook"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>


</ion-content>